@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #f0f0f0;
  margin: 0;
}
h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.score {
  margin-bottom: 20px;
  font-size: 18px
}