@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: #f0f0f0;
  margin: 0;
}
h1 {
  margin-bottom: 10px;
  font-size: 32px;
}

.grid-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px
}

.score {
  margin-bottom: 20px;
  font-size: 18px
}

.grid {
  display: flex;
  flex-direction: column;
}

.cell {
  width: 50px;
  height: 50px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
  font-size: 16px;
  font-weight: bold;
}

.row {
  display: flex;
}

.button-row {
  padding: 20px 20px;
  margin: 10px;
  font-size: 16px;
  cursor: pointer;
}

.main-row {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side-button {
  margin: 0 20px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}